<mat-grid-list cols="12">
    <mat-grid-tile colspan="12" class="container" >
        <form [formGroup]="joinForm" class="card">
        <button matSuffix mat-icon-button class="close"><span class="material-icons" (click)="close()">cancel</span></button> 
          <div>
            <label for="name" class="user-label">Name</label>
            <input type="text" id="name" formControlName="name" name="name">
        </div>
        <div>
            <label for="surname" class="user-label">Surname</label>
            <input type="text" id="surname" formControlName="surname" name="surname">
        </div>
        <div>
            <label for="email" class="user-label">Email</label>
            <input type="email" id="email" formControlName="email" name="email">
        </div>
        <div>
            <label for="enrollment" class="user-label">Enrollment</label>
            <input type="number" id="enrollment" formControlName="enrollment" name="enrollment" class="enroll" placeholder="1" min="0">
        </div>
        <div>
          <button type="submit" class="btn1" >Register</button>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>