<mat-grid-list cols="12" class="container">
    <mat-grid-tile colspan="12" >
      <img src="/assets/join.png" alt="cover">
        <form [formGroup]="joinForm" class="card">
          <div>
            <label for="name" class="user-label">Name</label>
            <input type="text" id="name" formControlName="name" name="name">
        </div>
        <div>
            <label for="surname" class="user-label">Surname</label>
            <input type="text" id="surname" formControlName="surname" name="surname">
        </div>
        <div>
            <label for="email" class="user-label">Email</label>
            <input type="email" id="email" formControlName="email" name="email">
        </div>
        <div class="attend">
          <mat-radio-group formControlName="attend">
              <mat-radio-button  value="attend">Kesin olarak katılacağım</mat-radio-button>
              <span class="material-icons">directions_walk</span>
              <p>gelememe durumunda bildiriniz!</p>
          </mat-radio-group>
      </div>
        <div>
          <button type="submit" class="btn1" >Join</button>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>