<mat-grid-list cols="12">
    <img src="assets/design.png" alt="design" class="design">
    <img src="assets/design.png" alt="design" class="design-2">
    <mat-grid-tile colspan="3">
        <img src="assets/hiking.png" alt="hiking" class="hiking imgs">
    </mat-grid-tile>
    <mat-grid-tile colspan="6" class="container">
        <form [formGroup]="forgetForm" class="card" (ngSubmit)="onSubmit()">
            <div>
                <label for="email" class="user-label">Email</label>
                <input type="text" id="email" formControlName="email" name="email">
            </div>
            <div>
                <button type="submit">Send</button>
            </div>
            <div>
               @if (outpt) {
                   <p>{{ outpt }}</p>
                }
            </div>
        </form>
        
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="bear-img">
        <img src="assets/bear.png" alt="bear" class="bear imgs">
    </mat-grid-tile>
    <img src="assets/design.png" alt="design" class="design-3">
    <img src="assets/design.png" alt="design" class="design-4">
</mat-grid-list>