
button{
    border-radius: 20px;
    background-color: #cff7d3;
    color: #434343;
    border-style:none;
    margin: auto;
    box-shadow: 0 3px #666;
    cursor: pointer;
    &:hover{
        opacity: 0.6;
    }
    &:active{
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    width: 100%;
    margin-top: 15%;
    padding: 10px; 
    height: auto;
    display: block;
    
    //margin-right: 20px;
}
img{
    user-select: none;
    -drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.design{
    position: fixed; 
    z-index: -2;
    left: -14.461vw; //x
    top: -1.205vh; //y
    transform: rotate(-9.02deg); 
    width: 71.422vw; 
    height: 87vh;
}
.design-2{
    position: fixed; 
    z-index: -2;
    left: -28.016vw; //x
    top: -10.324vh; //y
    transform: rotate(-210.65deg); 
    width: 85.953vw; 
    height: 87vh;
}

.design-3{
    position: fixed; 
    z-index: -2;
    left: 27.477vw; //x
    top: 38.086vh; //y
    transform: rotate(1.02deg); 
    width: 75.781vw; 
    height: 80vh;
}

.design-4{
    position: fixed; 
    z-index: -2;
    left: 30.359vw; //x
    top: 36.58vh; //y
    transform: rotate(-197.5deg); 
    width: 90.656vw; 
    height: 80.848vh;
}

.imgs{
    max-width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    margin: 0;
}

input{
    box-shadow: 0 2px #666;
    //display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-style:none; 
    font-size: medium;
    height: 5%;
   // width: 80%;
   // margin-top: 30px;
    display: block;
}

form{
    
    position: relative;
    align-items: center;
}
.user-label{
    margin-top: 20px;
    padding-top: 5%;
    margin-bottom: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
}

input,.user-label,mat-radio-group {
    display: inline-block;
    width: 100%; 
}


.container{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.card{
    background-color: #EBFFEE;
    border-radius: 50px;
    display: block;
    min-width: 80px;
    min-height: 460px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.forgetpass{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px; 
    margin-bottom: 15px; 
    align-self: flex-start;
    cursor: pointer;
}
.bear{
    right: 0;
    z-index: -1;
    width: 40%;
    padding-left: 40px;
}

.hiking{
    left: 0;
    z-index: -1;
    width: 40%;
    padding-right: 40px;
}

mat-radio-group{
    //position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 801px) {
    .card {
        padding: 5%; 
        width: 600px; 
        height: 70%; 
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    img{
        display: none;
    }
    .card{
        padding: 5%; 
        width: 100%;
        height: 70%;
    }
}

@media only screen and (min-width:0px) and (max-width: 550px) {
    img{
        display: none;
    }
    .card{
        max-height: 350px;
    }
}