
form{
    position: relative;
    align-items: center;
}

p{
    opacity: 0.6;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
    width: 100%;
    opacity: 0.6;
}

.filter-div{
    width: 100%;
}

.event-button{
    margin: 5px;
}
.card{
    background-color: white;
    border-radius: 10px;
    min-width: 80px;
    padding: 20px;
}

.events{
    display: flex;
    flex-direction: column;
   // margin: 15px 0;
    align-items: flex-start;
}
@media only screen and (min-width: 801px) {
  .card { 
      width: 250px; 
      height: fit-content;
      min-height: 230px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .card{
    width: 250px; 
    height: fit-content;
    min-height: 230px;
  }
}
